:root {
  --primary-color: #141414 !important;
  --secondary-color: #0051ff !important;
  --tertiary-color: #7e7e7e !important;
  --black-color: #000000 !important;
  --white-color: #ffffff !important;
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #0051ff;
  --box-shadow: 7px -5px 20px #121214, 7px 7px 10px #141517;
  --box-shadow-hover: -4px -5px 20px #272727, 7px 7px 10px #272727;
}
