:root {
    --primary-color: #141414 !important;
    --secondary-color: #0051ff !important;
    --tertiary-color: #7e7e7e !important;
    --black-color: #000000 !important;
    --white-color: #ffffff !important;
    --background-color-primary: #1e1e1e;
    --background-color-secondary: #0051ff;
}
