:root {
  --secondary-color-blue: #0051ff !important;
  --tertiary-color-grey: #7e7e7e !important;
  --white-color: #ffffff !important;
  --background-black: #141414 !important;
  --background-cards: #272727 !important;
  --background-black-sections: #1e1e1e;
  --background-color-secondary-blue: #0051ff;
}
