<footer class="d-flex flex-column align-items-center bg-primary text-white text-center m-4 p-3">
    <p>Find me in my social medias.</p>
    <div class="my-3">
        <a routerLinkActive="selected">
            <img class="mr-3 mt-1" src="/assets/icons/work.png" alt="work">
        </a>
        <a href="">
            <img class="mr-3 mt-1" src="/assets/icons/house.png" alt="house">
        </a>
        <a href="">
            <img class="mr-3 mt-1" src="/assets/icons/wpp.png" alt="whatsapp">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/joaoricardobianchinivieira/" >
            <img class="mr-3 mt-1" src="/assets/icons/in.png" alt="linkedin">
        </a>
    </div>
    <p>Developing for prog João.</p>
</footer>
<footer class="d-flex flex-column align-items-center bg-primary text-white text-center m-4 p-3">
    <p>Me encontre nas redes sociais.</p>
    <div class="my-3">
        <a routerLinkActive="selected">
            <img class="mr-3 mt-1" src="/assets/icons/work.png" alt="work">
        </a>
        <a href="">
            <img class="mr-3 mt-1" src="/assets/icons/house.png" alt="house">
        </a>
        <a href="">
            <img class="mr-3 mt-1" src="/assets/icons/wpp.png" alt="whatsapp">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/joaoricardobianchinivieira/" >
            <img class="mr-3 mt-1" src="/assets/icons/in.png" alt="linkedin">
        </a>
    </div>
    <p>Desenvolvido por prog João.</p>
</footer>