<div class="bg-primary d-flex justify-content-between align-items-center text-white my-4">
    <div class="d-flex align-items-center">
        <img class="ml-2" width="100" src="/assets/images/logo.png" alt="Logo Devseate" />
    </div>
    <nav class="d-flex justify-content-end mr-4">
        <div class="d-flex flex-wrap">
            <a class="btn-header"><img src="/assets/icons/translate.png" alt="tradutor"></a>
            <a class="btn-header mx-3"><img src="/assets/icons/change_color2.png" alt="tradutor"></a>
        </div>
    </nav>
</div>