<!-- <p><ngb-progressbar type="light" textType="success" [value]="75" [showValue]="true"></ngb-progressbar></p> -->


<!-- <div *ngIf="overviewMode === 'skills'">
                <h5 class="font-weight-black">Developer</h5>
                <div>
                    <div>
                        <div class="skill-box mb-3 mt-3">
                            <div class="d-flex justify-content-between">
                                <small>Git - Gitgub - Gitlab</small>
                                <small>100%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Bootstrap</small>
                                <small>90%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Css</small>
                                <small>80%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Javascript</small>
                                <small>60%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Angular</small>
                                <small>50%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Typescript</small>
                                <small>35%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Scss</small>
                                <small>35%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Node</small>
                                <small>5%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill-box mb-3">
                            <div class="d-flex justify-content-between">
                                <small>Inglês</small>
                                <small>50%</small>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->