/**https://coolors.co/palettes/trending */

@import '~bootstrap/scss/bootstrap';
@import url(./assets/scss/_variables.scss);
@import url(./assets/scss/_fonts.scss);

.text-secondary{color: var(--secondary-color) !important;}
.text-tertiary{color: var(--tertiary-color) !important;}
.text-white{color: var(--white-color) !important;}
.bg-primary{background-color: var(--background-color-primary) !important;}
.bg-secondary{background-color: var(--background-color-secondary) !important;}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: regular;
}

h1, h2, h3, h4, h5, h6, a, p, small {margin: 0em 0em !important;}
h1 {font-size: 3em;} //1em = 16px
h2 { font-size: 2.5em; }
h3 { font-size: 2.1em;}
h4 { font-size: 1.8em;}
h5 { font-size: 1.4em;}
h6 { font-size: 0.85em;}
p {font-size: 0.9em;}
small {font-size: 0.675em;}

.border-radius-defult {border-radius: 9px;}

a {
    font-size: 1em;
    color: var(--white-color);
    text-decoration: none !important;
    cursor: pointer;
}
